<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>
    <span class="app-name"> Words App </span>
    <span class="example-spacer"></span>

    <button routerLink="Account/Register" mat-icon-button>
      <mat-icon>accessibility</mat-icon>
    </button>

    <button *ngIf="!user" routerLink="Account/Login" mat-icon-button>
      <mat-icon> login </mat-icon>
    </button>
    <button *ngIf="user" (click)="logout()" mat-icon-button>
      <mat-icon> exit_to_app </mat-icon> 
    </button>
    <button *ngIf="user" routerLink="User/{{user.id}}/Edit">
      <mat-icon> settings </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <router-outlet></router-outlet> -->