<mat-button-toggle (click)="createEnabled = !createEnabled"> Create word </mat-button-toggle>

<table mat-table [dataSource]="words">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Word </th>
        <td  mat-cell *matCellDef="let word">
           <div *ngIf="!editEnabled || editEnabled && word.id !== wordInEditing.id">
            {{word.name}}
           </div>

           <div *ngIf="editEnabled && word.id == wordInEditing.id ">
             <edit-word [(selectedWord)]="wordInEditing" (wordChange)="onChangedWord($event)"></edit-word>
           </div>

        </td>
    </ng-container>

    <ng-container matColumnDef="learningLevel">
        <th mat-header-cell *matHeaderCellDef> learningLevel </th>
        <td mat-cell *matCellDef="let word">{{word.learningLevel}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let word">
            <button class="edit-button" (click)="editWord(word)">
                <mat-icon> edit </mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let word; columns: displayColumns"></tr>

</table>

<div *ngIf="createEnabled">
    <mat-form-field appearence="fill">
        <input matInput #wordName>
    </mat-form-field>
    <mat-button-toggle (click)="createWord(wordName.value)"> Create </mat-button-toggle>
</div>