
<form [formGroup]="loginForm" >

    <div >
        <mat-form-field appearance="fill">
            <mat-label> Login </mat-label>
            <input matInput type="text" formControlName="Login">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field  appearance="fill">
            <mat-label> Password </mat-label>
            <input matInput type="password" formControlName="Password">
        </mat-form-field>
    </div>
    <mat-button-toggle (click)="login()"> Submit</mat-button-toggle>
    <button (click)="goUser()" > go user</button>
</form>